.homepage {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;
}
.homepage h2{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.latestEpisodes ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.latestEpisodes li{
  background: var(--white);
  border: 1px solid var(--gray-100);
  padding: 1.25rem;
  border-radius: 1.5rem;
  position: relative;

  display: flex;
  align-items: center;
}
.latestEpisodes img{
  width: 5vw;
  height: 5vw;
  border-radius: 1rem;
}
.latestEpisodes .episodeDetails{
  max-width: 70%;
  flex: 1;
  margin-left: 1rem;
}
.latestEpisodes .episodeDetails a{
  display: block;
  color: var(--gray-800);
  font-family: Lexend, sans-serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.4rem;
}
.latestEpisodes .episodeDetails a:hover{
  text-decoration: underline;
}
.latestEpisodes .episodeDetails p{
  font-size: 0.875rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.latestEpisodes .episodeDetails span{
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
.latestEpisodes .episodeDetails span:last-child{
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
}
.latestEpisodes .episodeDetails span:last-child::before{
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #DDD;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.latestEpisodes button{
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--gray-100);
  border-radius: 0.675rem;
  font-size: 0;

  transition: filter 0.2s;
}
.latestEpisodes button img{
  width: 1.5rem;
  height: 1.5rem;
}
.latestEpisodes button:hover{
  filter: brightness(0.95);
}


.allEpisodes {
  padding-bottom: 2rem;
}
.allEpisodes table{
  width: 100%;
}
.allEpisodes table th,
.allEpisodes table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--gray-100);
  
}
.allEpisodes table th {
  color: var(--gray-200);
  text-transform: uppercase;
  font: 500 0.75rem Lexend, sans-serif;
  text-align: left;
}
.allEpisodes table td {
  font-size: 0.875rem;
}
.allEpisodes table td img {
  /* width: 4.5rem;
  height: 4.5rem; */
  border-radius: 0.5rem;
}
.allEpisodes button{
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--gray-100);
  border-radius: 0.5rem;
  font-size: 0;

  transition: filter 0.2s;
}
.allEpisodes button img{
  width: 1.25rem;
  height: 1.25rem;
}
.allEpisodes button:hover{
  filter: brightness(0.95);
}
.allEpisodes a {
  text-decoration: none;
  color: var(--gray-800);
}
